@import url(global.css);


section {
    display: flex;
    flex-direction: column;
    background: var(--tertiary-color);
    justify-content: space-between;
    border-radius: 10px;
    margin: 4% auto;
    padding: 20px;
    width: 350px;
}

section img {
    display: block;
    margin: 0 auto;
    width: 100px;
}
section > *{
    margin: 20px 0;
}
section form{
    margin-top: 1.5rem;
}
form input[type="text"], form input[type="password"]{
    border: none;
    border-bottom: 1px solid #ccc;
    background: white;
    outline: var(--primary-color);
    height: 30px;
    margin: 8px 0;
    font-family: poppins, sans-serif;
    border-radius: 5px;
    color: #333;
    font-size: 1rem;
    width: 85%;
}
section h3{
    text-align: center;
    color: black;
    font-size: 1.5rem;
    font-weight: 800;
}

.btn{
    margin: 10px 0px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: capitalize;
}

.reset-btn{
    background: #ff0000;
    border: 2px solid #ff0000;
    color: white;
}

.reset-btn:hover{
    border: 2px solid #ff0000;
    background: none;
    color: #ff0000;
}

