@import url(global.css);


body{
    background: var(--tertiary-color);
}
#account img{
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

#account > *{
    margin: 0 10px;
}

#account{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background: var(--primary-color);
    height: 50px;
    border-radius: 5px;
    margin: 10px 0;
}
#account p{
    display: flex;
    justify-items: center;

}
#account h6{
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
}

menu{
    background-color: var(--secondary-color) ;
    display: flex;
    justify-content: center;
    justify-items: center;
    position: relative;
    padding: 0;
}
.btn{
    background-color: var(--secondary-color);
    margin: 20px 10px;
    border: var(--secondary-color) 3px solid;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: capitalize;
}

.btn:hover{
    border-bottom: 3px solid var(--primary-color);
}   

menu a{
    text-decoration: none;
    color:black;
    font-weight: 300;
    
}

form{
    border-radius: 10px;
    flex-flow: wrap;
    width: 80%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: fit-content;
    padding: 50px 0;
}

.input{
    text-align: left;
    margin: 10px;
}

section{
    display: flex;
    flex-direction: column;
    background: var(--tertiary-color);
    padding: 0;
    border-radius: 10px;
    height: 80vh;
}
input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="file"]{
    border: none;
    border-bottom: 1px solid #ccc;
    background: #D9D9D9;
    padding: 2px;
    outline: var(--primary-color);
    font-family: poppins, sans-serif;
    border-radius: 5px;
    color: #333;
}
input[type="submit"], input[type="button"], input[type="reset"], button{
    margin: 5px 2px;
    padding: 4px 8px;
    outline: var(--tertiary-color);
    font-family: poppins, sans-serif;
    border-radius: 5px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    cursor: pointer;
    transition: all 0.3s ease;
}
 input[type="reset"]{
    background-color: red;
    color: var(--tertiary-color);

 }
select{
    border: none;
    border-bottom: 1px solid #ccc;
    background: #D9D9D9;
    padding: 2px;
    outline: var(--primary-color);
    font-family: poppins, sans-serif;
    border-radius: 5px;
    color: #333;

}
label{
    font-size: 0.8rem;
    font-weight: 300;
    opacity: 0.8;
}
section img{
    display: block;
    align-items: center;
    position: relative;
    top: 50px;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 4px var(--primary-color);
}

.submenu{
    background-color: var(--primary-color);
    position: absolute;
    width: 100%;    
    text-align: center;
    display: none;
    justify-content: center;
    align-items: center;
    height: 3rem;
}
.teachersubmenu, .studentsubmenu{
    position: absolute;
    display: none;    
    color: black;
}
.teachersubmenu a, .studentsubmenu a{
    padding: 0;
    margin: 0 10px;
    color: var(--tertiary-color);
}
.teachersubmenu a:hover, .studentsubmenu a:hover{
    color: var(--secondary-color);
}

.openmenu{
    display: flex;
}
#openmenu{
    display: none;
}

section h1{
    font-size: 2rem;
    text-align: center;
    margin: 20px 0;
    color: var(--primary-color);
}

#tablesection{
    width: 80wh;
}

table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: 20px 0;
}

#tableprint{
    width: 80%;
}
.reportinfo{
    float:right;
}
#teachermain{
    width: 50%;
}